## **Importing Required Libraries**

In [0]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## **Web Scrapping from the given Website**

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source,'lxml')
req_table = soup.find('table',class_='wikitable sortable')
table_rows = req_table.find_all('tr')
l = []
for tr in table_rows:
  td = tr.find_all('td')
  row = [tr.text for tr in td]
  l.append(row)
l.remove([])
df = pd.DataFrame(l, columns=["Postal Code", "Borough","Neighborhood"])
df

    Postal Code  ...                                       Neighborhood
0         M1A\n  ...                                                 \n
1         M2A\n  ...                                                 \n
2         M3A\n  ...                                        Parkwoods\n
3         M4A\n  ...                                 Victoria Village\n
4         M5A\n  ...                       Regent Park / Harbourfront\n
..          ...  ...                                                ...
175       M5Z\n  ...                                                 \n
176       M6Z\n  ...                                                 \n
177       M7Z\n  ...                                                 \n
178       M8Z\n  ...  Mimico NW / The Queensway West / South of Bloo...
179       M9Z\n  ...                                                 \n

[180 rows x 3 columns]

# **Cleaning DataFrame**

In [3]:
for ind in df.index:
  df['Postal Code'][ind] = df['Postal Code'][ind].replace('\n','')
  df['Borough'][ind] = df['Borough'][ind].replace('\n','')
  df['Neighborhood'][ind] = df['Neighborhood'][ind].replace('\n','')
  df['Neighborhood'][ind] = df['Neighborhood'][ind].replace('/',',')
df

    Postal Code  ...                                       Neighborhood
0           M1A  ...
1           M2A  ...
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                         Regent Park , Harbourfront
..          ...  ...                                                ...
175         M5Z  ...
176         M6Z  ...
177         M7Z  ...
178         M8Z  ...  Mimico NW , The Queensway West , South of Bloo...
179         M9Z  ...

[180 rows x 3 columns]

## **Size of DataFrame using .shape**

In [4]:
df.shape

(180, 3)

## **Reading CSV File for Coordinates**

In [5]:
df2 = pd.read_csv('http://cocl.us/Geospatial_data')
df2

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

## **Merging the two Data Frame**

In [6]:
df = pd.merge(df,df2,on='Postal Code')
df

    Postal Code           Borough  ...   Latitude  Longitude
0           M3A        North York  ...  43.753259 -79.329656
1           M4A        North York  ...  43.725882 -79.315572
2           M5A  Downtown Toronto  ...  43.654260 -79.360636
3           M6A        North York  ...  43.718518 -79.464763
4           M7A  Downtown Toronto  ...  43.662301 -79.389494
..          ...               ...  ...        ...        ...
98          M8X         Etobicoke  ...  43.653654 -79.506944
99          M4Y  Downtown Toronto  ...  43.665860 -79.383160
100         M7Y      East Toronto  ...  43.662744 -79.321558
101         M8Y         Etobicoke  ...  43.636258 -79.498509
102         M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]