## **Importing Required Libraries**

In [0]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## **Web Scrapping from the given Website**

In [55]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source,'lxml')
req_table = soup.find('table',class_='wikitable sortable')
table_rows = req_table.find_all('tr')
l = []
for tr in table_rows:
  td = tr.find_all('td')
  row = [tr.text for tr in td]
  l.append(row)
l.remove([])
df = pd.DataFrame(l, columns=["Postal Code", "Borough","Neighborhood"])
df

    Postal Code  ...                                       Neighborhood
0         M1A\n  ...                                                 \n
1         M2A\n  ...                                                 \n
2         M3A\n  ...                                        Parkwoods\n
3         M4A\n  ...                                 Victoria Village\n
4         M5A\n  ...                       Regent Park / Harbourfront\n
..          ...  ...                                                ...
175       M5Z\n  ...                                                 \n
176       M6Z\n  ...                                                 \n
177       M7Z\n  ...                                                 \n
178       M8Z\n  ...  Mimico NW / The Queensway West / South of Bloo...
179       M9Z\n  ...                                                 \n

[180 rows x 3 columns]

# **Cleaning DataFrame**

In [56]:
for ind in df.index:
  df['Postal Code'][ind] = df['Postal Code'][ind].replace('\n','')
  df['Borough'][ind] = df['Borough'][ind].replace('\n','')
  df['Neighborhood'][ind] = df['Neighborhood'][ind].replace('\n','')
  df['Neighborhood'][ind] = df['Neighborhood'][ind].replace('/',',')
df

    Postal Code  ...                                       Neighborhood
0           M1A  ...
1           M2A  ...
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                         Regent Park , Harbourfront
..          ...  ...                                                ...
175         M5Z  ...
176         M6Z  ...
177         M7Z  ...
178         M8Z  ...  Mimico NW , The Queensway West , South of Bloo...
179         M9Z  ...

[180 rows x 3 columns]

## **Size of DataFrame using .shape**

In [58]:
df.shape

(180, 3)